<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <gazebo reference="imu_link">
    <material>Gazebo/Green</material>
  </gazebo>
  <gazebo reference="front_bumper_link">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="receiver_link">
    <material>Gazebo/RedTransparentOverlay</material>
  </gazebo>
  <gazebo reference="beacon_link">
    <material>Gazebo/OrangeTransparentOverlay</material>
  </gazebo>

  <gazebo>
    <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
      <alwaysOn>true</alwaysOn>
      <updateRate>20</updateRate>
      <leftJoint>joint_left_wheel</leftJoint>
      <rightJoint>joint_right_wheel</rightJoint>
      <wheelSeparation>0.32</wheelSeparation>
      <wheelDiameter>0.076</wheelDiameter>
      <torque>20</torque>
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>base_link</robotBaseFrame>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin name="receiver_model_plugin" filename="libreceiver_model_plugin.so">
      <receiver_link>receiver_link</receiver_link>
<!--      <update_rate>30</update_rate>-->
      <use_sync>1</use_sync>
      <send_sim_pose>1</send_sim_pose>
      <packed_publishing>1</packed_publishing>
    </plugin>
  </gazebo>
  <gazebo reference="front_bumper_link">
    <mu1>0.3</mu1>
    <mu2>0.3</mu2>
    <sensor type="contact" name="bumpers">
      <always_on>1</always_on>
      <update_rate>50.0</update_rate>
      <visualize>true</visualize>
      <contact>
        <collision>base_footprint_fixed_joint_lump__base_collision</collision>
      </contact>
    </sensor>
  </gazebo>
  <gazebo reference="link_front_bumper">
<!--    <sensor name="my_contact" type="contact">-->
<!--&lt;!&ndash;        <update_rate>1000</update_rate>&ndash;&gt;-->
<!--&lt;!&ndash;        <always_on>true</always_on>&ndash;&gt;-->
<!--        <contact>-->
<!--          <collision>link_front_bumper_collision</collision>-->
<!--        </contact>-->
<!--    </sensor>-->
  </gazebo>
<!--&lt;!&ndash;    <sensor name='my_contact' type='contact'>&ndash;&gt;-->
<!--&lt;!&ndash;      <update_rate>5</update_rate>&ndash;&gt;-->
<!--&lt;!&ndash;      <contact>&ndash;&gt;-->
<!--&lt;!&ndash;        <collision>front_bumper_col</collision>&ndash;&gt;-->
<!--&lt;!&ndash;      </contact>&ndash;&gt;-->
<!--&lt;!&ndash;    </sensor>&ndash;&gt;-->
<!--&lt;!&ndash;    <plugin name="front_bumper_gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">&ndash;&gt;-->
<!--&lt;!&ndash;      <alwaysOn>true</alwaysOn>&ndash;&gt;-->
<!--&lt;!&ndash;      <updateRate>20</updateRate>&ndash;&gt;-->
<!--&lt;!&ndash;      <bumperTopicName>front_bumper</bumperTopicName>&ndash;&gt;-->
<!--&lt;!&ndash;      <frameName>world</frameName>&ndash;&gt;-->
<!--&lt;!&ndash;      <geom>front_bumper_geom</geom>&ndash;&gt;-->
<!--&lt;!&ndash;    </plugin>&ndash;&gt;-->
<!--    <sensor name="contact_sensor" type="contact">-->
<!--      <contact>-->
<!--        <collision>front_bumper_col</collision>-->
<!--        <topic>/front_bumper</topic>-->
<!--      </contact>-->
<!--      <self_collide>true</self_collide>-->
<!--      <always_on>true</always_on>-->
<!--      <update_rate>1000.0</update_rate>-->
<!--      <selfCollide>true</selfCollide>-->
<!--      <alwaysOn>true</alwaysOn>-->
<!--      <updateRate>1000.0</updateRate>-->
<!--&lt;!&ndash;      <plugin name="gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">&ndash;&gt;-->
<!--&lt;!&ndash;        <bumperTopicName>front_bumper</bumperTopicName>&ndash;&gt;-->
<!--&lt;!&ndash;        <frameName>world</frameName>&ndash;&gt;-->
<!--&lt;!&ndash;        <alwaysOn>true</alwaysOn>&ndash;&gt;-->
<!--&lt;!&ndash;        <updateRate>1000.0</updateRate>&ndash;&gt;-->
<!--&lt;!&ndash;      </plugin>&ndash;&gt;-->
<!--    </sensor>-->

<!--&lt;!&ndash;    <sensor:contact name="contact_sensor">&ndash;&gt;-->
<!--&lt;!&ndash;      <geom>front_bumper_link</geom>&ndash;&gt;-->
<!--&lt;!&ndash;      <updateRate>20.0</updateRate>&ndash;&gt;-->
<!--&lt;!&ndash;      <controller:gazebo_ros_bumper name="gazebo_ros_bumper_controller" plugin="libgazebo_ros_bumper.so">&ndash;&gt;-->
<!--&lt;!&ndash;        <alwaysOn>true</alwaysOn>&ndash;&gt;-->
<!--&lt;!&ndash;        <updateRate>20.0</updateRate>&ndash;&gt;-->
<!--&lt;!&ndash;        <bumperTopicName>bumper</bumperTopicName>&ndash;&gt;-->
<!--&lt;!&ndash;        <interface:bumper name="bumper_iface" />&ndash;&gt;-->
<!--&lt;!&ndash;      </controller:gazebo_ros_bumper>&ndash;&gt;-->
<!--&lt;!&ndash;    </sensor:contact>&ndash;&gt;-->

  <gazebo reference="imu_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>50</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>10.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>
  <!-- <gazebo reference="sensor_laser">
    <sensor type="ray" name="head_hokuyo_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>20</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-1.570796</min_angle>
            <max_angle>1.570796</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>10.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>/m2wr/laser/scan</topicName>
        <frameName>sensor_laser</frameName>
      </plugin>
    </sensor>
  </gazebo> -->
  
</robot>