<?xml version="1.0"?>
<model>
    <name>Beacon</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Vasily</name>
        <email>name@email.address</email>
    </author>

    <description>
        Beacon for beacon_gazebo_plugin package
    </description>
</model>