<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find beacon_gazebo_plugin)/worlds/test.world"/>
  </include>
  <include file="$(find beacon_gazebo_plugin)/launch/robot.launch" >
    <arg name="init_pose" value="-x 0 -y 0 -z 0.2" />
    <arg name="robot_name" value="Robot1" />
  </include>
  <include file="$(find beacon_gazebo_plugin)/launch/robot.launch" >
    <arg name="init_pose" value="-x 2 -y 2 -z 0.2" />
    <arg name="robot_name" value="Robot2" />
  </include>
  <include file="$(find beacon_gazebo_plugin)/launch/beacon.launch" >
    <arg name="init_pose" value="-x 1 -y 1 -z 0.2" />
    <arg name="beacon_name" value="beacon_1" />
  </include>
  <include file="$(find beacon_gazebo_plugin)/launch/beacon.launch" >
    <arg name="init_pose" value="-x 0 -y 4 -z 0.2" />
    <arg name="beacon_name" value="beacon_2" />
  </include>
  <include file="$(find beacon_gazebo_plugin)/launch/beacon.launch" >
    <arg name="init_pose" value="-x -1 -y -1 -z 0.2" />
    <arg name="beacon_name" value="beacon_3" />
  </include>
</launch>